<%- include("partials/header") %>
<body>
    <div class="container d-flex justify-content-center">
        <h1 style="font-weight: 700;">Hello</h1>
    </div>
</body>
<%- include("partials/footer") %>