* { font-family: 'Poppins', sans-serif }

nav { background-color: rgb(255,233,0); }
.navbar-brand { margin-left: 190px; }
.navbar-brand img {
    width: 148px;
    height: 129px;
}

.nav-link {
    font-family: 'Poppins', sans-serif !important; 
    font-weight: 800 !important;
    color: black !important;
}

.nav-item {
    margin: 0 15px 0 15px;
}

.home-bg {
    position:absolute;
    top:-10px;
    z-index: -1;
}

.home-bg img {
    zoom: 2;
    display: block;
    margin: auto;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
}

.booking-bg {
    display: flex;
    float: right;
    background-image: url('/img/booking-info-bg.png');
    background-repeat: no-repeat;
    background-position: center;
}

.booking-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

.booking-container h1 {
    font-weight: 700;
}